<html>
    <head>
        <title>landing page</title>
    </head>
    <body>

        <form action="/results" method="get">
            <input type="text" placeholder="SEARCH MOV" name="bm">
            <input type="submit">
        </form>
    </body>
</html>