<html>
    <head>
        <title>landing page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body style="background-color:black">
        <div class="container">
    
            <div id="landing-header">

             <h1><font color="white">TWITTEX</font></h1>
             </div>
        <form action="/results" method="get">
            <input type="text" placeholder="ENTER USERNAME" name="bm">
            <input type="submit">

        </form>


        <br>
        <br>
        <Br>
            <font color="white">  <B><I>enter the username precisely!</I></B> </font>
</div>
    </body>
</html>